<div class="flex-container" *ngIf="rental">
    <div class="flex-child text">

        <div class="img" *ngIf="rental.name == 'Hot Desk'">
            <img class="desk-images"
                src="https://cdn.discordapp.com/attachments/971009722788499486/971333517856374804/IMG_0146.webp" alt="">
        </div>
        <div class="img" *ngIf="rental.name == 'Dedicated Desk'">
            <img class="desk-images"
                src="https://cdn.discordapp.com/attachments/971009722788499486/971333516791009300/Untitled_Artwork.webp"
                alt="">
        </div>
        <div class="logo-text g">
            <p class="text">€{{rental.price}}</p>
        </div>
        <div *ngIf="rental.name == 'Hot Desk'" class="logo-text g" id="description" style="padding: 0.5em;">
            <p style="font-size: small;">
                Hot Desks are available on a half day/day or weekly basis

                We provide this desk space in an open plan office to allow you to work/study in a professional space
                without the distractions of home. There is dedicated fast broadband and access to kitchen facilities if
                required.

                Desk Prices are €10 per half day, €20 per day or €60 per week.

                Discounts are available to Students, start your own business scheme beneficiaries and community groups.
            </p>
        </div>
        <div *ngIf="rental.name == 'Dedicated Desk'" class="logo-text g" id="description" style="padding: 0.5em;">
            <p style="font-size: small;" >
                All the facilities that are available on a hot desk with the guarantee that it is your desk, this is
                more suitable to somebody that wants a minimum of a week in an office environment, these desks are
                slightly larger and have locker facilities and a USB charging port as standard.

                Prices from €60 per week to €240 per month

                Discounts are available to Students, start your own business scheme beneficiaries and community groups.
            </p>
        </div>
    </div>

    <div class="flex-child card">
        <form #bookingForm (ngSubmit)="onSubmit()">
            <h1 class="text">{{rental.name}}</h1>
            <div class="date-picker">
                <mat-form-field appearance="outline">
                    <mat-label>Enter a date range</mat-label>
                    <mat-date-range-input [rangePicker]="picker">
                        <input [(ngModel)]="startDate" name="startD" matStartDate placeholder="Start date">
                        <input [(ngModel)]="endDate" name="endD" matEndDate placeholder="End date">
                    </mat-date-range-input>
                    <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>
            </div>
            <div class="flex-container-date">
                <div class="flex-child-date">
                    <p>Start With:</p>
                    <ngb-timepicker [(ngModel)]="start" name="startT"></ngb-timepicker>
                </div>
                <div class="flex-child-date">
                    <p>Start With:</p>
                    <ngb-timepicker [(ngModel)]="end" name="endT"></ngb-timepicker>
                </div>

            </div>
            <div class="desk-counter">
                <div class="desk-counter-child">
                    <h2>NUMBER OF DESKS</h2>
                </div>
                <div class="desk-counter-child">
                    <div class="qty mt-5">
                        <span class="minus bg-dark" (click)="counterMinus()">-</span>
                        <input type="number" class="count" name="deskN" [(ngModel)]="deskNumber"
                            style="background-color: transparent; color: white;">
                        <span class="plus bg-dark" (click)="counterPlus()">+</span>
                    </div>
                </div>

            </div>




            <div class="rent-container">
                <div class="rent-container-child">
                    <h1>FINAL PRICE:{{price}}€</h1>
                </div>
                <div class="rent-container-child">
                    <button type="button" mat-raised-button id="book-btn" (click)="rentalTester()"
                        (click)="openTemplateSheetMenu()">BOOK NOW</button>

                </div>

            </div>
        </form>
    </div>
</div>


<ng-template let-bottomSheetRef="bottomSheetRef" #templateBottomSheet>
    <div class="signup-form">
        <form #signUpForm="ngForm" (ngSubmit)="onSubmit()">
            <h2 style="color: black !important;">Please fill in this form to comfirm reservation!</h2>

            <div class="form-group">
                <label>Name</label>
                <input [(ngModel)]="model.name" placeholder="First & Last Name" type="text" class="form-control"
                    name="firstName" required>

            </div>
            <div class="form-group">
                <label>Phone Number</label>
                <input [(ngModel)]="phoneNum" type="number" class="form-control" name="phoneNumber" required
                    minlength="8" maxlength="10" placeholder="0123456789">

            </div>
            <div class="form-group">
                <label>Email Address</label>
                <input [(ngModel)]="model.email" type="email" class="form-control" name="email"
                    placeholder="example@gmail.com" required
                    pattern="^[_A-Za-z0-9-+]+(.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(.[A-Za-z0-9]+)*(.[A-Za-z]{2,})$">
            </div>
            <div class="form-group">
                <button type="submit" mat-raised-button [disabled]="!signUpForm.form.valid"
                    (click)="closeTemplateSheetMenu()">Confirm
                </button>
            </div>
        </form>
    </div>
</ng-template>